{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    <titl>E'lonlar joylashtirish</titl>
{% endblock title %}

{% block content %}
<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2>
                    <img src="{% static 'images/carusel/tod-logo.png' %}" width="40%" alt="">
                </h2></span>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container">

					<div class="row">
						<form control=""  method="post" action="{% url 'login' %}" >
                            {% csrf_token %}
							<div class="row" >
                                {{ form.username }}
{#								<input type="text" name="username" id="username" class="form__input" placeholder="Username">#}
							</div>
							<div class="row">
								<!-- <span class="fa fa-lock"></span> -->
                                {{ form.password }}
{#								<input type="password" name="password" id="password" class="form__input" placeholder="Password">#}
							</div>
							<div class="row"><label for="remember_me">
								{{ form.remember_me }}
								Eslab qol!</label>
							</div>
							<div class="row">
								<input type="submit" value="Kirish" class="btn-login">
							</div>
						</form>
					</div>
					<div class="row">
						<p style="align-content: center; text-align: center">Ro'yxatdan o'tmaganmisiz? <a href="{% url 'register' %}">Ro'yxatdan o'tish</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="container-fluid pb-4 pt-5">

        <div class="container animate-box">
            <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
</div>
{#            <form class="form-signin" method="post" action="{% url 'login' %}">#}
{#                {% csrf_token %}#}
{#                <img class="mb-4" src="{% static 'main/images/placeholder_logo.png' %}" width="114" height="100" alt="">#}
{#                <h1 class="h3 mb-3 font-weight-normal">Kirish</h1>#}
{#                <label for="id_username" class="sr-only">Username</label>#}
{#                {{ form.username }}#}
{#                <label for="id_password" class="sr-only pt-2">Password</label>#}
{#                {{ form.password }}#}
{#                <div class="checkbox mb-3 mt-2">#}
{#                    <label for="id_remember_me">#}
{#                        {{ form.remember_me }} Eslab qolish#}
{#                    </label>#}
{#                </div>#}
{#                {% if form.errors %}#}
{#                    <p class="alert alert-danger" role="alert">#}
{#                        Your username and password didn't match.#}
{#                        Please try again.#}
{#                    </p>#}
{#                {% endif %}#}
{#                <button class="btn btn-lg btn-primary btn-block" type="submit">Kirish</button>#}
{#            </form>#}
        </div>
    </div>

{% endblock %}