#login-reg{
    color: #f5bc04;
}

.main-content{
	width: 33%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #999999;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#f5bc04;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4);
	border-radius: 4px;
}
.btn-login{
	transition: all .5s ease;
	width: 70%;
	height: 40px;
	border-radius: 30px;
	color:#f5bc04;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #f5bc04;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn-login:hover, .btn:focus{
	background-color: #f5bc04;
	color:#fff;
}
/*---------------search qismi--------------*/

.form-control-s {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

/*#chegara{*/
/* border: 1px solid red;*/
/*}*/
.signup-page {
    float: left;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    padding: 20px 0px 20px;
}
.form-bg {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 20px 40px 30px;
}
.logo {
    width: 200px;
    margin: 20px auto 40px;
    display: block;
}
.signup-page h2 {
    font-size: 17px;
    color: #999;
    text-align: center;
    margin: 15px 5px;
}
button.login-with-fb {
    background-color: #f5bc04;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: 600;
}
.signup-btn {
    background-color: #f5bc04;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: 600;
    margin: 10px 0px 10px;
}
.signup-btn:hover, .login-with-fb:hover{
  opacity: 0.9;
}
.term-policy {
    color: #999;
    text-align: center;
    font-size: 14px;
    width: 61%;
    float: none;
    margin: 0 auto;
    line-height: 25px;
}
.term-policy a {
    color: #d93026;
    text-decoration: none;
    font-size: 14px;
}
button.login-with-fb i {
    font-size: 18px;
    margin-right: 5px;
}
span.options-divider {
    text-align: center;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    width: 40px;
    margin: 0 auto;
    padding: 25px 0px;
    background-color: #fff;
    z-index: 3;
    color: #999;
}
span.option-br {
    border-bottom: 1px solid #ddd;
    position: relative;
    width: 100%;
    bottom: 34px;
    z-index: 2;
    display: block;
}
.login-link {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 15px 0px;
}
.login-link p {
    color: #262626;
    font-size: 14px;
    margin: 15px;
    text-align: center;
}
.login-link p a{
    color: #d93026;
}
.get-app {
    font-size: 16px;
    padding: 10px 10px 15px;
    text-align: center;
    width: 100%;
}
.get-app a {
    display: inline-block;
    margin: 15px 5px;
}