{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    <titl>E'lonlar joylashtiri</titl>
{% endblock title %}

{% block content %}
    <div class="container-fluid pb-4 pt-5">
        <div class="container animate-box">
            <h1>elonlar joylashtirish</h1>
            <form action="" method="post" id="announcementsForm" data-cities-url="{% url 'ajax_load_subcategory' %}"
                  novalidate>
                {% csrf_token %}
                <table>
                    {#                {{ form.as_table }}#}
{#                    <select name="category" id="id_category">#}
{#                        <option value="">--categoriyani tanlang--</option>#}
{#                        {% for i in category %}#}
{#                            <option value="{{ i.id }}">{{ i.name }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                    <br>#}
{#                <select name="subcategory" id="id_subcategory">#}
{##}
{#                </select>#}

                </table>
                                {% for field in form.visible_fields %}
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field|add_class:'form-control' }}
                                        {% for error in field.errors %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                <button type="submit" class="btn btn-primary">Saqlash</button>

            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/jQuery.min.js' %}"></script>
    <script>
        $("#id_category").change(function () {
            var url = $("#announcementsForm").attr("data-cities-url");
            var categoryId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'category_id': categoryId
                },
                success: function (data) {
                    $("#id_subcategory").html(data);
                }
            });

        });
    </script>
{% endblock content %}