{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    <titl>E'lonlar joylashtiri</titl>
{% endblock title %}

{% block content %}
    <div class="container-fluid pb-4 pt-5">
        <div class="container animate-box">
            <h1>elonlar joylashtirish</h1>
            <form  method="post" id="announcementsForm" data-cities-url="{% url 'ajax_load_subcategory' %}" enctype="multipart/form-data"  novalidate>
                {% csrf_token %}

                <table>
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% if field.label == "Kategoriyaga oid" %}
                        <h1>Bog'lanish uchun ma'lumotlar</h1>
                        {% endif %}
                    {% endfor %}
                </table>
                <button type="submit" class="btn btn-primary">Saqlash</button>

            </form>
        </div>
{#    ---------------------------avvalgi kodni script qatori--------------------#}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script>
        $("#id_category").change(function () {
            var url = $("#announcementsForm").attr("data-cities-url");
            var categoryId = $(this).val();
            console.log(categoryId)

            $.ajax({
                url: url,
                data: {
                    'category_id': categoryId
                },
                success: function (data) {
                    $("#id_subcategory").html(data);
                    console.log(data)
                }
            });

        });
    </script>
    {#    ---------------------------avvalgi kodni script qatori--------------------#}
{% endblock content %}