{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}
    <titl>E'lonlar joylashtirish</titl>
{% endblock title %}

{% block content %}

    <div class="container-fluid pb-4 pt-5">
        <div class="container animate-box">
        {% if message %}
         <div class="alert alert-success" role="alert">
                 {{ message|safe }}
             </div>
         {% endif %}
            <h1>E'lon joylashtirish</h1>
            <form  method="post" id="announcementsForm" data-cities-url="{% url 'ajax_load_subcategory' %}" enctype="multipart/form-data"  novalidate>
                {% csrf_token %}

                <table>
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                                <span class="help-block"><div class="alert alert-danger" role="alert">{{ error }}</div></span>
                            {% endfor %}
                        </div>
                        {% if field.label == "Mahsulot narxi" %}
                            <br><h3>Bog'lanish uchun ma'lumotlarni aniq kiriting</h3>
                            <hr>
                        {% endif %}

                    {% endfor %}
                </table>
                <button type="submit" class="btn btn-success">Saqlash</button>



            </form>
{#        <form method="post">{% csrf_token %}#}
{#                <input type="submit" class="btn btn-danger" value="O'chirish">#}
{#            </form>#}
        </div>
{#    ---------------------------avvalgi kodni script qatori--------------------#}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script>
        $("#id_category").change(function () {
            var url = $("#announcementsForm").attr("data-cities-url");
            var categoryId = $(this).val();
            console.log(categoryId)

            $.ajax({
                url: url,
                data: {
                    'category_id': categoryId
                },
                success: function (data) {
                    $("#id_subcategory").html(data);
                    console.log(data)
                }
            });

        });
    </script>
    {#    ---------------------------avvalgi kodni script qatori--------------------#}
{% endblock content %}