{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    <titl>E'lonlar joylashtiri</titl>
{% endblock title %}

{% block content %}
<div class="container mt-2">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style=" height: 30px; border-radius: 50%"></li>
    {% if object.image1 %}<li data-target="#carouselExampleIndicators" data-slide-to="1" style=" height: 30px; border-radius: 50%"></li>{% endif %}
    {% if object.image2 %}<li data-target="#carouselExampleIndicators" data-slide-to="2" style=" height: 30px; border-radius: 50%"></li>{% endif %}
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{ object.image.url }}"  alt="First slide">
    </div>{% if object.image1 %}
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ object.image1.url }}"  alt="Second slide">
    </div>{% endif %}{% if object.image2 %}
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ object.image2.url }}"  alt="Third slide">
    </div>{% endif %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<br>

<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div class="col-md-8"></div>
                <div class="col-md-4"></div>
            <p><b> Kategoriya: </b> {{ object.category }} / {{ object.subcategory }}</p>
                <p><b> Mahsulot nomi: </b> {{ object.title }}</p>
                <p><b> Mahsulot xaqida to'liq ma'lumot: </b><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ object.description }}</p>

                <p><b> Narxi:  </b>{{ object.cost }}</p>
                {% for img in object.picturefromblog.all %}
                    <img src="{{ img.image.url }}" class="img-movie-shots" width="45%">
                {% endfor %}
            <div class="row">
                <h2><button type="button" class="btn btn-outline-warning ml-3" data-toggle="modal" data-target="#exampleModalCenter">Bog'lanish</button></h2>
                <h2><a href="{% url 'ann_update' object.slug %}" class="btn btn-outline-success ml-3">Tahrirlash</a></h2>
                <h2><button type="button" class="btn btn-outline-danger ml-3">O`chirish</button></h2>
            </div>




            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">

                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">O'xshash e'lonlash</div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="{% static 'images/download (1).jpg' %}" alt="img" class="fh5co_most_trading"/>
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Magna aliqua ut enim ad minim veniam quis nostrud.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="{% static 'images/allef-vinicius-108153.jpg' %}" alt="img" class="fh5co_most_trading"/>
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Enim ad minim veniam nostrud xercitation ullamco.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="{% static 'images/download (2).jpg' %}" alt="img" class="fh5co_most_trading"/>
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Magna aliqua ut enim ad minim veniam quis nostrud.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center"><img src="{% static 'images/seth-doyle-133175.jpg' %}" alt="img"
                                                              class="fh5co_most_trading"/></div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Magna aliqua ut enim ad minim veniam quis nostrud.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- ---------------Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Bog'lanish uchun</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b> FIO:</b> {{ object.full_name }}</p>
        <p><b> Manzil:</b> {{ object.address }}</p>
        <p><b> Telefon:</b> +{{ object.phone }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
      </div>
    </div>
  </div>
</div>
    <!-- ---------------Modal -->
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Trending</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="{% static 'images/39-324x235.jpg' %}" alt=""/></div>
                    <div>
                        <a href="#" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="{% static 'images/joe-gardner-75333.jpg' %}" alt=""/></div>
                    <div>
                        <a href="#" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="{% static 'images/ryan-moreno-98837.jpg' %}" alt=""/></div>
                    <div>
                        <a href="#" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                    </div>
                </div>
            </div>
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="{% static 'images/seth-doyle-133175.jpg' %}" alt=""/></div>
                    <div>
                        <a href="#" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}