{% extends 'base.html' %}

{% load static %}
{% block title %}
    <titl>Rishton tumanining yangiliklar saytiga hush kelibsiz!</titl>
{% endblock title %}

{% block content %}
<div class="container-fluid pt-3">
    <div class="container animate-box" data-animate-effect="fadeIn">
{##}
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Sohalar bo'yicha</div>
        </div>
        <div class="owl-carousel owl-theme js" id="slider1">
            {% for obj in all_ann_category %}
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img" >
                    <img src="{{ obj.image.url }}" alt="" /></div>
                    <div class="fh5co_latest_trading_img_position_absolute"></div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <h4><a href="{{ obj.get_absolute_url }}" class="text-white mb-5"> {{ obj.name }} </a></h4>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img"><img src="{% static 'images/332323233r.jpg' %}" alt="" class="fh5co_img_special_relative"/></div>
                    <div class="fh5co_latest_trading_img_position_absolute"></div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="../single.html" class="text-white">wwwwww Here's a new way to take better photos for instagram </a>
                        <div class="fh5co_latest_trading_date_and_name_color"> Walter Johson - March 7,2017</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-3">
    <div class="container animate-box" data-animate-effect="fadeIn" >
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Eng so'ngi e'lonlar</div>
        </div>


        <main>

            <div class="container-fluid bg-trasparent my-4" style="position: relative;">
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"  style="display: flex; flex-wrap: wrap; flex-flow: wrap">
            {% for obj in announcement %}

                    <div class="col-sm-6 col-md-4 col-lg-3 col-12  card-deck mt-3">

                      <div class="card">
                        <img class="card-img-top" src="{{ obj.image.url }}" alt="Card image cap" height="160">

                        <div class="card-body">
                            <span class="float-start badge rounded-pill bg-primary">{{ obj.cost}}</span>
                          <h5 class="card-title" id="card_title"><a href="{% url 'ann_detail' obj.slug %}" id="card_title">{{ obj.title }}</a></h5>
                          <p class="card-text m-2"><i class="fa fa-clock-o"></i> {{ obj.created_at|date:"d M Y" }}</p>
                          <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ obj.address }}</p>
                        </div>
                      </div>

                    </div>
                {% endfor %}
            </div>

                <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3" style="display: flex; justify-content: center">

                </div>
            </div>
        </main>
    </div>
</div>


            <div class="row mx-0">
                <div class="col-12 text-center pb-4 pt-4">
                {% if page_obj.has_previous %}
                    {% if page_obj.number|add:'-3' > 1 %}
                        <a class="btn_pagging" href="?page=1">1</a>
                    {% endif %}
                    {% if page_obj.number|add:'-3' >= 3 %}
                        <a class="btn_pagging" href="?page={{ page_obj.previous_page_number|add:'-3' }}">
                            <span class="pagination__link">• • •</span>
                        </a>
                    {% endif %}
                {% endif %}
                {% if paginator.page_range|length > 1 %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <a class="btn_pagging" href="#">{{ i }}</a>
                        {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                            <a class="btn_pagging" href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if page_obj.has_next %}
                    {% if page_obj.number|add:'4' < page_obj.paginator.num_pages %}
                        <a class="btn_pagging" href="?page={{ page_obj.next_page_number|add:'3' }}">
                            <span class="pagination__link">• • •</span>
                        </a>
                    {% endif %}
                    {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
                        <a class="btn_pagging" href="?page={{ page_obj.paginator.num_pages }}">
                            {{ page_obj.paginator.num_pages }}
                        </a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
{% endblock content %}