{% extends 'base.html' %}
{% load static %}
{% block title %}
    <titl>Eng so`ngi yangiliklardan boxabar bo`ling</titl>
{% endblock title %}

{% block content %}
<div class="container-fluid contact_us_bg_img">
    <div class="container">
        <div class="row">
            <a href="#" class="fh5co_con_123"><i class="fa fa-home"></i></a>
            <a href="#" class="fh5co_con pt-2"> Contact Us </a>
        </div>
    </div>
</div>
<div class="container-fluid  fh5co_fh5co_bg_contcat">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-4 py-3">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                        <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-phone"></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                        <span class="c_g d-block"></span>
                        <span class="d-block c_g fh5co_contact_us_no_text">+998 91 157 67 77</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 py-3">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                        <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-envelope"></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                        <span class="c_g d-block"></span>
                        <span class="d-block c_g fh5co_contact_us_no_text">sardorbek.uktamov.1@mail.ru</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 py-3">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                        <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-map-marker"></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                        <span class="c_g d-block"></span>
                        <span class="d-block c_g fh5co_contact_us_no_text"> Farg'ona viloyati, Rishton tumani</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="container-fluid mb-4">
    <div class="container">
        <div class="col-12 text-center contact_margin_svnit ">
            <div class="text-center fh5co_heading py-2">Biz bilan bog'laning</div>
        </div>
        {% for m in messages %}
            <div class="alert alert-info" role="alert">
                {{ m }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-12 col-md-6">
                <form action="{% url 'sendmail' %}" method="post" class="row" id="fh5co_contact_form">
                    {% csrf_token %}
                    <div class="col-12 py-3">
                        <input type="text" name="name" class="form-control fh5co_contact_text_box" placeholder="Ismingizni kiriting.." />
                    </div>
                    <div class="col-6 py-3">
                        <input type="email" name="email" class="form-control fh5co_contact_text_box" placeholder="E-mail kiriting.." />
                    </div>
                    <div class="col-6 py-3">
                        <input type="text" name="subject" class="form-control fh5co_contact_text_box" placeholder="Xabar mazmuni.." />
                    </div>
                    <div class="col-12 py-3">
                        <textarea class="form-control fh5co_contacts_message" name="message" placeholder="Xabar matni.."></textarea>
                    </div>
                    <div class="col-12 py-3 text-center">
                        <input type="submit" class="btn contact_btn" value="Xabar yuborish"/>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6 align-self-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6080.450732326886!2d71.27713857672121!3d40.359526987611936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bbaa18e0d248a1%3A0xa91b6fddfc8b6d1e!2s%22Roshidon%20taxi%22!5e0!3m2!1sen!2sus!4v1631290612763!5m2!1sen!2sus" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
